/* 

For all classes used, type the initials of the page name followed by a dash then the name of the 
class. For example, to style a header on the Schedule page, name the class s-title and one on the
team page would be t-title.

Keep all items that are for the same page in the same area in this file so they are all grouped.

For things that will be universal, you can exclude the prefix of 'x-'. The universal items should
be the top section in this file so any page specific changes that happen to a class can use them
and replace items where necessary for that specific page. Use variable colors for most work, it is
better to have several variable colors than it is to hard code them in.

*/

:root {
  --bg: #505050;
  --bright: #00243b;
  --bright-secondary: #064831;
  --dark: #000000;
  --text: white;
  --alt-text: black;
  --winner-legend: #064831;
  --loser-legend: #774F0F;
  --primary-legend: #064831;
  --secondary-legend: #383838;
  --table: #252525;
}

*{
  font-family: 'News Cycle', sans-serif;
}



body {
  background-image: url('./images/football-bg.jpg');
  background-color: var(--bg);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  overflow-x: hidden;

  color: var(--text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: 'Anton', sans-serif; */
  letter-spacing: 1px;
  text-transform: uppercase;
}

.flex {
  position: relative;
  display: flex;
  gap: 1rem;

  &-columm {
    display: flex;
    flex-direction: column;
  }

  &-mobile-column {
    flex-direction: row;
  }

  &-large-gap {
    gap: 5rem;
  }
}

.pr {
  padding-right: 3%;
}

.global-base {
  margin: 2%;
}

.global-week-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.global-dropdown {
  position: relative;
  box-shadow: .5rem .5rem .5rem #00000090;
  max-width: fit-content;
  z-index: 100;
}

.global-dropdown select{
  font-size: 1.2rem;
  padding: 2px 2rem 2px .5rem;
  background-color: var(--bright);
  border: 0;
  color: var(--text);
  cursor: pointer;
}

.global-arrow {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  background: var(--dark);
  height: 100%;
  width: 2rem;
  pointer-events: none;
}

.global-arrow::before,
.global-arrow::after {
  --triangle-size: .5rem;

  content: '';
  position: absolute;
  width: 0;
  height: 0;

  left: 50%;
  transform: translate(-50%, -50%);
}

.global-arrow::before {
  border-left: var(--triangle-size) solid transparent;
  border-right: var(--triangle-size) solid transparent;
  border-bottom: var(--triangle-size) solid var(--bright-secondary);

  top: 33%;
}

.global-arrow::after {
  border-left: var(--triangle-size) solid transparent;
  border-right: var(--triangle-size) solid transparent;
  border-top: var(--triangle-size) solid var(--bright-secondary);

  top: 67%;
}

.global-button {
  padding: 0.75em 3em;
  background: var(--dark);
  color: var(--text);
  border: 2px solid var(--dark);
  width: 50%;
  cursor: pointer;
  position: relative;
  isolation: isolate;
  overflow: hidden;

  transition: background-color 250ms;

  &:hover,
  &:focus-visible {
    border-color: var(--bright);
  }

  & > span {
    position: absolute;
    z-index: -1;
    width: 33.3333%;
    height: 100%;
  }

  & > :first-child {
    left: 0;
    top: 0;
  }

  & > :last-child {
    right: 0;
    top: 0;
  }

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    background-color: var(--bright);
    opacity: 0;
    width: 10%;
    aspect-ratio: 1;
    border-radius: 50%;
    inset: 0;
    margin: auto;

    transition: transform 200ms 200ms, opacity 200ms;
  }

  &:active::before {
    transform: scale(20);
    opacity: 1;

    transition: transform 600ms, opacity 300ms;
  }

  &:has(:first-child:active)::before {
    margin-left: 0;
  }

  &:has(:last-child:active)::before {
    margin-right: 0;
  }

  &:has(:first-child:active)::before,
  &:has(:last-child:active)::before {
    transition: transform 400ms, opacity 200ms;
  }
}

.button-container {
  position: relative;
  width: 100%;
  display: flex;
}

.next-button {
  margin-left: auto;
  background-color: var(--bright);
  border-right: solid 1px var(--dark);
  border-top: solid 1px var(--dark);
}

.prev-button {
  background-color: var(--bright);
  border-right: solid 1px var(--dark);
  border-top: solid 1px var(--dark);
}

.page-header {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.page-header span{
  background-color: var(--dark);
  padding: 7px;
  padding-right: 10px;
  padding-left: 50px;
  margin-left: -50px;
  
  box-shadow: .5rem .5rem .5rem #00000090;
  border-radius: 5px;
}

.list {
  list-style: none;
  padding-left: 0;
  & li{
    margin: 2px 0 2px 0;
  }
}

.section-header {
  margin-left: 15vw;
  margin-right: 15vw;
  margin-top: 2rem;
}

.section-header span{
  background-color: var(--dark);
  padding: 10px;
  
  box-shadow: .5rem .5rem .5rem #00000090;
  border-radius: 5px;
}

.stat-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.stat-card {
  background-color: var(--dark);
  /* padding: .5rem; */
  border-radius: 5px;
  margin: 1em;
  box-shadow: .5rem .5rem .5rem #00000090;
  flex: 1 1 0;
  max-width: 15rem;
  min-height: 10rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-title {
  background: var(--bright);
  width: 100%;
  border-radius: 5px 5px 0px 0px;
  min-height: 25%;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
}
.card-title h3 {
  margin: 5px;
}

.stat-card p {
  margin: 7px 7px 25px 7px;
}

.nb-flex {
  display: flex;
  flex-direction: row;
  gap: var(--gap, 1rem);
}

.nb-container {
  /* position: fixed;
  top: 0px;
  width: 100%; */

  align-items: center;
  justify-content: space-between;
}

.nb-header {
  justify-content: flex-start;
  align-items: center;
}

.nb-logo {
  display: none;
}

.nb-title{
  display: none;
  z-index: -5;
}

.nb-title span{
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px;
  padding-left: 20rem;
  margin-left: -20rem;
  
  border-radius: 5px;
}

.nb-primary {
  list-style: none;
  padding: 0;
  margin: 0;
  background: rgba(0, 0, 0, 0.97);
  border-radius: 5px 0 0 5px;
}

@supports(backdrop-filter: blur(1rem)) {
  .nb-primary {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1.5rem);
  }
}

.nb-primary a {
  text-decoration: none;
  color: var(--text);
  position: relative;
}

.nb-active::after {
  content: '';
  position: absolute;
  left: 0;
  top: 2rem;
  width: 100%;
  height: 4px;
  background-color: var(--bright);
}

.nb-span {
  font-weight: 700;
  margin-inline-end: 0.75em;
}

.nb-mobile-toggle {
  display: none;
}

/* Search bar */

.search-container {
  margin-top: -25px;
  margin-left: -5px;
}

.search-results {
  background-color: #000000;
  width: calc(20rem + 6px);
  max-width: calc(82vw - 1px);
  margin: 0;
  padding: 0;
  border: solid 2px var(--bright);
  border-top: none;
  position: absolute;
  z-index: 1000;
  cursor: pointer;

  &-items {
    border-bottom: 2px solid var(--bright);
    line-height: 2rem;
    padding-left: 5px;
    list-style: none;
    &-no-result {
      list-style: none;
      padding-left: 5px;
      line-height: 2rem;
    }
  }
}

.search-bar {
  --size: 50px;
  margin-top: 4rem;
  border: 2px solid var(--bright);
  display: flex;
  border-radius: 30px;
  height: var(--size);
  width: var(--size);
  padding: 3px;
  position: relative;
  transition: width 300ms cubic-bezier(0.18, 0.89, 0.32, 1.15), border-radius 100ms;
  overflow: hidden;
  background: var(--dark);

  &-input {
    flex-grow: 1;
    font-size: 1.5rem;
    padding: 0 0.5em;
    border: 0;
    position: absolute;
    background: black;
    color: var(--text);
    top: 0;
    bottom: 0;
    left: 0;
    line-height: calc(var(--size) - 3px);
    opacity: 0;
    cursor: pointer;

    &:focus {
      outline: 0;
    }
  }

  &-submit {
    align-self: center;
    font-size: 1.5rem;
    cursor: pointer;
    background: transparent;
    border-radius: 50%;
    width: var(--size);
    height: var(--size);
    margin-left: auto;
    padding: 0;
    border: none;
  }

  &:focus-within {
    width: 20rem;
    max-width: 80vw;
    

    .search-bar-input {
      opacity: 1;
      cursor: initial;
      width: calc(100% - var(--size) * 1.6);
    }
  }
}

.player {
  &-container {
  margin-top: 1rem;
  min-height: 5rem;
  width: 100%;
  box-shadow: 0 0 1rem 1rem #00000050;

  }
  &-overview {
    min-height: 5rem;
    width: 100%;
    position: relative;
    background-color: var(--bg);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }
  &-name {
    padding: 8px;
    background-color: #000000;
    border-radius: 0 5px 5px 0;
  }  
  &-dropdown {
    box-shadow: none;

    & > select {
      background-color: black;
    }
  }
  &-arrow {
    &::before {
      border-bottom: var(--triangle-size) solid white;
    }
    &::after {
      border-top: var(--triangle-size) solid white;
    }
  }
}

.team-logo {
  border-radius: 5px;
  background-color: #ffffff79;

  width: 60px;
  position: absolute;
  right: 7px;
  top: 7px;
  &-fixed {
    position: relative;
  }
}

.matchup {
  &-container {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  &-header {
    display: flex;
    position: relative;
    height: 10rem;
    border-radius: 5px 5px 0px 0px;
  }

  &-vs {
    position: absolute;
    height: 100%;
    //top: 5rem;
    z-index: 101;
    opacity: 0;
    & > img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &-bolt {
    position: absolute;
    z-index: 100;
    left: 0;
    right: 0;
    top: 0;
    margin-inline: auto;
    width: fit-content;
    //height: 15rem;
  }
  &-bolt > img {
    height: calc(10rem + 3px);
  }

  &-team-image {
    min-height: 5rem;
    width: 50%;
    position: relative;
    //background-blend-mode: multiply;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    border: 3px solid black;
    border-bottom: none;
    &.left {
      background-color: var(--bright);
      border-right: none;
      border-top-left-radius: 5px;
    }
    &.right {
      background-color: var(--bright-secondary);
      border-left: none;
      border-top-right-radius: 5px;
    }
  }

  &-title {
    background: var(--bright);
    width: 100%;
    border-radius: 5px 5px 0px 0px;
    margin-bottom: 0;
  }

  &-owner {
    font-size: 5rem;
  }

  &-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 1rem;
    padding-bottom: 1rem;
    backdrop-filter: blur(20px);
    background: radial-gradient(rgba(136, 136, 136, 0.75), rgba(3, 3, 3, 0.75));
    border: solid 3px black;
  }

  &-row {
    //border-bottom: 1px solid white;
    padding: 0 1rem 0 1rem;
    display: flex;
    justify-content: space-between;
  }

  &-stat {
    text-align: center;
    padding: 5px 0 5px 0;
    margin-bottom: 10px;
    border: 2px solid silver;
    &.left {
      min-width: 4rem;
      border-radius: 100px 0 0 100px;
      background-color: var(--bright) ;
      border-right: 1px solid silver;
    }
    &.right {
      min-width: 4rem;
      border-radius: 0 100px 100px 0;
      background-color: var(--bright-secondary) ;
      border-left: 1px solid silver;
    }
    &.center {
      border-left: none;
      border-right: none;
      flex-grow: 1;
      background-color: var(--dark);
    }
  }
}



table-wrapper {
  width: min(900px, 100% - 3rem);
  margin-inline: auto;
  margin: auto;
}

table {
  border-collapse: collapse;
  background-color: var(--table);
  width: 100%;
}

thead {
  position: relative;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

td, th, caption {
  padding: 8px;
}

td, th {
  text-align: left;
}

caption {
background-color: black;
font-size: 1.25rem;
font-weight: 700;
}

tr:nth-child(even) {
  background-color: hsl(0 0% 0% / 0.25);
}

th {
  background-color: hsl(0 0% 0% / 0.5);
}

.table-container {
  max-width: 100%;
  overflow-x: auto;
}

tr, caption {
  border-bottom: 1px solid black;
}

.ps {
  &-player-info-container {
    display: flex;
    gap: 3rem;
    background-color: var(--dark);
    padding: 1rem;
    font-weight: 600;
  }
}

.chart-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.chart-border {
  background-color: var(--dark);
  width: 100%; 
  max-width: 70rem;
  margin: 1em;

  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 5px;
  box-shadow: .5rem .5rem .5rem #00000090;
}

.chart-title {
  background: var(--bright);
  width: 100%;
  border-radius: 5px 5px 0px 0px;
  margin-bottom: 10px;
}

.chart-title h3{
  text-align: center;
}

.chart {
  color: white;
  background-color: white;
  margin-bottom: 10px;
  width: 95%;
  border: 2px solid black;
}

.small-chart {
  min-height: 20rem;
  max-width: 50rem;
}

.medium-chart {
  min-height: 20rem;
  max-width: 70rem;
}

.large-chart {
  max-width: 90rem;
  min-height: 30rem;
}

.jumbo-chart {
  max-width: 90rem;
  min-height: 50rem;
}

.line-chart {
  min-height: 0rem;
}

.chart-options {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.chart-dropdown {
  position: relative;
  align-self: flex-start;
  margin: 2px 10px 10px 2.5%;
}

.chart-dropdown select{
  font-size: 1.2rem;
  padding: 2px 2rem 2px .5rem;
  background-color: var(--bright);
  border: 0;
  color: var(--text);
}

.chart-checkbox {
  display: flex;
  align-items: center;
}

.checkbox-label {
  margin-right: 10px;
  margin-left: 5px;
  display: flex;
  font-size: large;
}

.checkbox {
  accent-color: var(--bright);
  margin-right: 5px;

  &-bg {
    background-color: #000000;
  }

  &-player {
    width: 100%;
    padding: 0;
    margin:0;
    text-align: center;
    font-weight: bold;
  }

  &-draft {
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin: 0;
    padding: 8px;
    width: calc(100% - 11rem);
    text-align: center;
  }
}

.legend {
  align-self: flex-start;
  list-style: none;
  margin-top: -10px;

  &-info {
    list-style: square;
  }

  &-square::before {
    content: "\25A0";
    font-weight: bold; 
    display: inline-block;
    width: 1em; 
    margin-left: -1em;
  }

  &-primary::before {
    color: var(--primary-legend);
  }

  &-secondary::before {
    color: var(--secondary-legend);
  }

  &-win::before {
    color: var(--winner-legend);
  }

  &-loss::before {
    color: var(--loser-legend);
  }

  &-black::before {
    content: "\25A1"; 
    color: white;
  }
}

.hide-large {
  display: none;
}

@media (max-width: 1000px) {
  .stat-card {
    max-width: 90%;
    min-width: 40%;
  }
  .nb-primary {
    gap: 2.5rem;
    
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 40%;

    flex-direction: column;
    padding: min(25vh, 10rem) 2rem;

    transform: translateX(100%);
    transition: 300ms ease-out;
  }
  
  .nb-mobile-toggle {
    display: block;
    position: absolute;
    z-index: 9999;
    background: none;
    filter: invert(1);
    background-repeat: no-repeat;
    background-position: center center;
    border: 0;
    width: 35px;
    height: 35px;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
  
    background-image: url('./images/hamburger_icon.png');
  }

  .nb-mobile-toggle[aria-expanded="true"] {
    display: none;
  }
  .nb-primary a {
    max-width: fit-content;
  }
  .chart-border {
    max-width: 90%;
  }
}

.nb-primary[data-visible="true"] {
  transform: translateX(0%);
}

@media (min-width: 1001px) {
  .global-week-header {
    gap: 1rem;
  }
  .nb-primary {
    padding-block: 1rem;
    padding-inline: clamp(3rem, 5vw, 10rem);
    gap: 3rem;
  }
  .nb-title{
    display: block;
  }
  .nb-logo {
    display: block;
    max-width: 120px;
    margin: 1rem;
  }
}

@media (max-width: 560px) {

  .ps {
    &-player-info-container {
      flex-direction: column;
      gap: 1rem;
    }
  }

  tr {
    height: 3.5em;
  }

  thead > tr {
    height: auto;
  }

  tr.mobile-on {
    height: auto;
  }
  
  th.mobile-on {
    display: none;
  }
  td.mobile-on {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 15ch auto;
    padding: 0.5rem 1rem;
  
    &::before {
      content: attr(data-cell) " : ";
      font-weight: 700;
    }
  }

  .mobile-on[data-cell="hide"] {
    display: none !important;
  }
  caption {
    color: transparent;
    padding: 0px;
    height: 2px;
    // display: none;
  }
  caption.mobile-on {
    color: white;
    padding: 8px;
    height: 1em;
  }
  
  .hide-large {
    display: inline-block;
  }
  .hide-small {
    display: none;
  }
  .flex-mobile-column {
    flex-direction: column;
  }
  .dropdown-size-match-mobile select {
    width: 10rem;
  }
}

@media (max-width: 300px) {
  .stat-card {
    max-width: 90%;
    min-width: 50%;
  }
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}



/* sr-only copied from Bootstrap, hides elements that should be visible to screen readers only */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}